In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('netherlands.dat', '\t')

In [5]:
df

,id,rp,sp,choice,purpose,npersons,age,employ_status,mainearn,arrival_time,...,seat_status,car_ivtt,car_cost,car_walk_time,car_parking_fee,rail_comfort,rp_transfer,rp_choice,rp_rail_ovt,rp_car_ovt
0,1,1,0,0,0,3,0,0,0,0,...,0,1.000,5.000,0.167,0,-1,0,0,0.50,0.167
1,1,0,1,10,0,3,0,0,0,0,...,-1,1.167,7.500,-1.000,-1,0,0,0,0.50,0.167
2,1,0,1,10,0,3,0,0,0,0,...,-1,1.167,7.000,-1.000,-1,0,0,0,0.50,0.167
3,1,0,1,10,0,3,0,0,0,0,...,-1,1.167,6.500,-1.000,-1,0,0,0,0.50,0.167
4,1,0,1,10,0,3,0,0,0,0,...,-1,1.167,6.000,-1.000,-1,0,0,0,0.50,0.167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1734,235,0,1,10,0,4,1,1,0,1,...,-1,1.517,7.500,-1.000,-1,1,2,0,0.25,0.017
1735,235,0,1,10,0,4,1,1,0,1,...,-1,1.517,6.875,-1.000,-1,1,2,0,0.25,0.017
1736,235,0,1,10,0,4,1,1,0,1,...,-1,1.517,6.250,-1.000,-1,1,2,0,0.25,0.017
1737,235,0,1,10,0,4,1,1,0,1,...,-1,1.517,6.250,-1.000,-1,0,2,0,0.25,0.017
1738,235,0,1,10,0,4,1,1,0,1,...,-1,1.517,6.250,-1.000,-1,1,2,0,0.25,0.017

In [6]:
df.describe()

,id,rp,sp,choice,purpose,npersons,age,employ_status,mainearn,arrival_time,...,seat_status,car_ivtt,car_cost,car_walk_time,car_parking_fee,rail_comfort,rp_transfer,rp_choice,rp_rail_ovt,rp_car_ovt
count,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,...,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000
mean,118.836688,0.131110,0.868890,8.969523,0.161587,2.455434,0.327200,0.489937,0.480736,0.387004,...,-0.859114,1.712756,16.522990,-0.857645,-0.783784,0.515239,0.687752,0.330075,0.557515,0.084642
std,67.139454,0.337618,0.337618,3.377086,0.368178,1.296027,0.469326,0.500043,0.499772,0.487205,...,0.375059,0.381826,15.744395,0.368551,0.582988,0.836573,0.654914,0.470375,0.259071,0.103549
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.750000,0.250000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.083000,0.000000
25%,60.000000,0.000000,1.000000,10.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,1.500000,6.667000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.367000,0.017000
50%,122.000000,0.000000,1.000000,10.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,1.583000,12.000000,-1.000000,-1.000000,1.000000,1.000000,0.000000,0.500000,0.050000
75%,176.000000,0.000000,1.000000,10.000000,0.000000,3.000000,1.000000,1.000000,1.000000,1.000000,...,-1.000000,2.000000,20.000000,-1.000000,-1.000000,1.000000,1.000000,1.000000,0.667000,0.083000
max,235.000000,1.000000,1.000000,11.000000,1.000000,6.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,3.050000,112.500000,0.833000,1.000000,2.000000,2.000000,1.000000,1.500000,0.833000

In [7]:
import matplotlib as plt

In [9]:
df['age'].plt()

AttributeError: 'Series' object has no attribute 'plt'